.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.navigation__right {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.button {
  height: 32px;
  border-radius: 3px;
  border-width: 0;
  background-color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease all;
}

.navigation__button_type_account {
  background: #f9f9f9;
}
.button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.button_active {
  background: #2be080;
}
.button_active:hover {
  background: #06aa52;
  cursor: pointer;
}
.button_disactive-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.burger {
  background-image: url(../../images/burger.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  height: 44px;
  width: 44px;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 0;
  transition: 0.3s ease all;
}

.burger-menu {
  position: fixed;
  right: -500px;
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  overflow: hidden;
  z-index: 3;
}

.burger-menu_opened {
  visibility: visible;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.burger-menu__container {
  width: 67vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 4;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
}

.burger-menu__close-btn {
  background-image: url(../../images/closeIcon.svg);
  border: none;
  background-color: inherit;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.3s ease all;
}
.burger-menu__close-btn:hover,
.burger:hover {
  opacity: 0.7;
  cursor: pointer;
}

.burger-menu__links {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger-menu__link {
  padding-bottom: 28px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
  transition: 0.3s ease all;
}

.burger-menu__link:hover {
  opacity: 0.7;
}

.burger-menu__link_active {
  text-decoration: underline;
}

.burger-menu__link_type_account {
  padding-bottom: 90px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 550px) {
  .button {
    font-size: 10px;
    padding-left: 12px;
    padding-right: 12px;
    height: 26px;
  }
  .navigation__right {
    gap: 14px;
  }
}